@import url(style.css);

strong {
	color: var(--cor-especial);
	font-weight: 500;
}

#bottom-search {
	background-color: var();
	color: black;
	border: none;
}

#bg-main-top {
	background-image: url(/assets/img/cursos/Cursos.jpg);
	background-position: center;
	background-size: cover;
}

#bg-main-top2 {
	height: 30rem;
	align-items: center;
}

/* Cards circulares */
.marketing .col-lg-4 {
	margin: 1.5rem 0 1.5rem;
	text-align: center;
}

.marketing .col-lg-4 p {
	margin-right: .75rem;
	margin-left: .75rem;
}

.bi {
	/* cor dos icones */
	color: var(--cor-especial);
}

/* .btn-secondary {
    color: var(--cor-especial);
} */

#circulo1 {
	background-image: url(/assets/img/cursos/Financeiro.jpg);
	background-position: center;
	background-size: cover;
}

#circulo2 {
	background-image: url(/assets/img/cursos/Tempo.jpg);
	background-position: center;
	background-size: cover;
}

#circulo3 {
	background-image: url(/assets/img/cursos/Conquistar\ clientes.jpg);
	background-position: center;
	background-size: cover;
}

#circulo4 {
	background-image: url(/assets/img/cursos/Formalização.jpg);
	background-position: center;
	background-size: cover;
}

#circulo5 {
	background-image: url(/assets/img/cursos/Autoconhecimento.jpg);
	background-position: center;
	background-size: cover;
}


#circulo6 {
	background-image: url(/assets/img/cursos/Auto\ Confiança.jpg);
	background-position: center;
	background-size: cover;
}