<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="dark" xmlns:th="www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta property="og:locale" content="pt_BR">
	<meta property="og:description"
		content="Entre na residência em software da devHOME™ e aprenda Front-end, Back-end na prática com a maior plataforma de tecnologia do momento">
	<meta name="description"
		content="Entre na residência em software da devHOME™ e aprenda Front-end, Back-end na prática com a maior plataforma de tecnologia do momento">
	<meta property="og:title" content="devHOME™ | Residência em Software">
	<meta property="og:site_name" content="devHOME™">
	<meta property="og:url" content="https://www.devHOME.com.br">
	<link rel="canonical" href="https://www.devHOME.com.br">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>

	<link rel="stylesheet" href="/assets/css/about.css">
	<link rel="shortcut icon" href="/assets/img/icon/icon-pink-1.png" type="image/x-icon" />

	<title> Sobre | devHOME™ </title>
</head>

<body>
	<div th:replace="default :: navbar"></div>

	<main>
		<section id="about" class="first-section">
			<div id="top">
				<div>
					<h1> Quem somos nós? <br>Olá! somos a <strong class="gradient-text"> DevHOME™! </strong>😊</h1>
					<p>
						Somos um grupo otimista e dedicado, formado por ~6 alunos do curso da Recode Pro – 2023, com o
						objetivo de
						<strong>implantar</strong> um programa de <strong>residência em Tecnologia da
							Informação</strong> sem a
						necessidade de um vínculo com uma instituição de ensino superior.
					</p>

					<img class="img-profile"
						src="/assets/img/other/6-formas-de-aplicar-as-inovacoes-tecnologicas-na-rotina-das-empresas.jpg"
						alt="">
					<p>
						Continue lendo para saber mais sobre os principais pilares da DevHOME™ e a nossa historia.
					</p>

					<a class="btn btn-outline-primary" href="#History" role="button">Saiba mais</a>
				</div>
			</div>
		</section>

		<section id="diferenciais" class="second-section">
			<h2 class="title">Diferenciais</h2>

			<div id="card-area">
				<div class="wrapper">
					<div class="box-area">

						<div class="box">
							<img alt="" src="/assets/img/other/sobre-integração.jpg">

							<div class="overlay">
								<h3> Integração ao Mercado </h3>
								<p>
									Integrar os residentes aos desafios atuais do mercado de trabalho em
									Desenvolvimento
									de Software.
								</p>
							</div>
						</div>

						<div class="box">
							<img alt="" src="/assets/img/other/sobre-metodologia.jpg">

							<div class="overlay">
								<h3> Metodologia Inovadora </h3>
								<p>
									Imersão em equipes de trabalho para solução de problemas reais acompanhados por
									especialistas na área.
								</p>
							</div>
						</div>

						<div class="box">
							<img alt="" src="/assets/img/other/sobre-oportunidades.jpg">

							<div class="overlay">
								<h3> Networking e Oportunidades </h3>
								<p>
									Oportunidades de trabalho em equipe em contato com instrutores especialistas
									inseridos no mercado de trabalho.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="History" class="third-section">
			<h2 class="title">Mais sobre nossa história</h2>
			<div>
				<p>
					O projeto tem seu fundamento em diversas motivações, uma delas é a <strong>dificuldade de muitos
						Devs</strong> que são autodidatas, e precisam de uma <strong>experiência real</strong>, para
					entrar no mercado de trabalho. Semelhante a um estágio, a residência em software ofertada pela
					DevHOME™ foi implementada justamente para ajudar a dar aquele famoso <strong>“start”</strong> na
					sua
					carreira em tecnologia e aprimorar seus <strong>conhecimentos</strong> sem precisar
					necessariamente
					de um vínculo com uma instituição de ensino. Visamos amenizar a falta de oportunidades para Devs
					iniciantes, oferecendo oportunidade de <strong>aprender novas habilidades</strong> em prática,
					através de parcerias e investimento do gov.br pelo <a
						href="https://www.gov.br/mcti/pt-br/acompanhe-o-mcti/noticias/2023/03/com-40-mil-profissionais-capacitados-programa-residencia-em-tic-sera-ampliado-para-atender-desafios-da-industria">programa
						Residência em TIC </a> e com empresas do setor de TICs (Tecnologia da Informação e
					Comunicação)
					para encontrarem seu tão almejado emprego na área.
				</p>
			</div>
			<div>
				<p></p>
			</div>

		</section>

		<section id="Whatis" class="fourth-section">
			<img id="imgsobrenos" src="/assets/img/other/residenciadesoft.jpg" alt="">

			<h2 class="title">O que é um programa de residência de software<span class="enfase-text">?</span></h2>
			<p>
				A residência é um programa de desenvolvimento acelerado de capital humano, montado a partir de
				necessidades de capacitação específicas de uma empresa patrocinadora. Além do recrutamento, o
				programa
				contempla toda a jornada do candidato até a contratação, com foco na formação e mentoria desses
				profissionais com base nas especificidades de cada empresa.
			</p>

			<p>
				Esse tipo de contratação é mais adequado para organizações com grande demanda de vagas. Dessa forma,
				dezenas de profissionais poderão ser selecionados, treinados e admitidos de uma só vez, garantindo a
				qualidade do processo e o fit cultural entre contratante e contratados. Por meio desta modalidade, é
				possível formar tanto competências mais demandadas pelo mercado quanto habilidades mais singulares,
				para
				as quais não existe oferta satisfatória de profissionais.
			</p>

			<p>
				Um dos diferenciais do programa de residência é que, durante o processo de treinamento, a empresa
				pode
				capacitar os participantes não apenas com conhecimentos técnicos, mas também tem a oportunidade de
				trabalhar os valores e a cultura da organização.
			</p>
		</section>
	</main>

	<div class="b-example-divider"></div>
	<div th:replace="default :: footer"></div>
</body>

</html>