<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="dark" xmlns:th="www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta property="og:locale" content="pt_BR">
	<meta property="og:description"
		content="Entre na residência em software da devHOME™ e aprenda Front-end, Back-end na prática com a maior plataforma de tecnologia do momento">
	<meta name="description"
		content="Entre na residência em software da devHOME™ e aprenda Front-end, Back-end na prática com a maior plataforma de tecnologia do momento">
	<meta property="og:title" content="devHOME™ | Residência em Software">
	<meta property="og:site_name" content="devHOME™">
	<meta property="og:url" content="https://www.devHOME.com.br">
	<link rel="canonical" href="https://www.devHOME.com.br">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>

	<link rel="stylesheet" href="/assets/css/menu.css">
	<link rel="stylesheet" href="/assets/css/form.css">

	<title> ADM - Editar Curso | devHOME™ </title>
</head>

<body>
	<div th:replace="default :: navbar"></div>

	<main>
		<div class="contentor">
			<div class="setor-painel">
				<div class="menu-container" id="menu-container">
					<div class="logo-container">
						<img src="./assets/img/logo/logo-blue-6.png" alt="Logo do Site">
					</div>
					<a href="#" onclick="closeMenu()">Fechar</a>
					<a th:href="@{/empresas/novo}">Cadastrar Empresa</a>
					<a th:href="@{/empresas}">Listar Empresas</a>
					<a th:href="@{/cursos/novo}">Cadastrar Cursos</a>
					<a th:href="@{/cursos}">Listar Cursos</a>
					<a th:href="@{/vagas/novo}">Cadastrar Vagas</a>
					<a th:href="@{/vagas}">Listar Vagas</a>
					<a th:href="@{/adm.html}">Sair</a>
				</div>

				<div class="content" id="content">
					<div class="menu-btn-container">
						<div class="menu-btn" onclick="openMenu()">&#9776;</div>
					</div>
				</div>

				<div class="evento">
					<div class="form-signin w-100 m-auto">
						<div class="form-body">
							<form class="form-row" th:action="@{/cursos/editar/{id}(id=${curso.id})}"
								th:object="${curso}" method="post">
								<a href="/index.html">
									<img class="mb-4" src="/assets/img/icon/icon-blue-2.png" alt="devHOME™ logo"
										id="icon-logo">
								</a>
								<h1 id="typing-header" class="h3 mb-3 fw-normal">Atualizar curso</h1>
								<div class="form-group">
									<label for="id">ID:</label> <input type="text" class="form-control" id="id"
										name="id" th:field="*{id}" th:readonly="readonly">
								</div>
								<div class="form-group">
									<label for="nomeCurso">Nome do Curso:</label>
									<input type="text" class="form-control" id="nomeCurso"
										placeholder="Digite o nome do Curso:" required th:field="*{nomeCurso}">
								</div>
								<div class="form-group">
									<label for="descricaoCurso">Descrição do Curso:</label>
									<input type="text" class="form-control" id="descricaoCurso"
										placeholder="Digite a descrição do Curso:" required th:field="*{descricao}">
								</div>
								<div class="form-group">
									<label for="categoria">Categorias ou Áreas Temáticas:</label>
									<input type="text" class="form-control" id="categoria"
										placeholder="Digite a categoria:" required th:field="*{categoria}">
								</div>
								<div class="form-group">
									<label for="duracaoCurso">Duração do Curso:</label>
									<input type="text" class="form-control" id="duracaoCurso"
										placeholder="Digite a duração do Curso:" required th:field="*{duracao}">
								</div>
								<button class="btn btn-primary w-100 py-2" type="submit">submit</button>
								<p class="mt-5 mb-3 text-body-secondary">
									© 2023 - devHOME™
								</p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

	<div class="b-example-divider"></div>
	<div th:replace="default :: footer"></div>
</body>
<script src="/assets/script/menu.js"></script>

</html>