<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="dark" xmlns:th="www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta property="og:locale" content="pt_BR">
	<meta property="og:description"
		content="Entre na residência em software da devHOME™ e aprenda Front-end, Back-end na prática com a maior plataforma de tecnologia do momento">
	<meta name="description"
		content="Entre na residência em software da devHOME™ e aprenda Front-end, Back-end na prática com a maior plataforma de tecnologia do momento">
	<meta property="og:title" content="devHOME™ | Residência em Software">
	<meta property="og:site_name" content="devHOME™">
	<meta property="og:url" content="https://www.devHOME.com.br">
	<link rel="canonical" href="https://www.devHOME.com.br">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>

	<link rel="stylesheet" href="/assets/css/job.css">
	<link rel="shortcut icon" href="/assets/img/icon/icon-pink-1.png" type="image/x-icon" />

	<title> Vagas | devHOME™ </title>
</head>

<body>
	<div th:replace="default :: navbar"></div>

	<main>
		<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg" id="vagas">
			<div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
				<h1 class="display-4 fw-bold lh-1 text-body-emphasis">Bem-vindo à nossa Seção de Vagas de Emprego!</h1>
				<p class="lead">Explore as oportunidades emocionantes disponíveis e encontre a vaga perfeita para você.
					Cada vaga é uma porta para novas experiências e
					possibilidades de crescimento profissional.
					Descubra as diferentes posições, seus requisitos e prazos de candidatura. Estamos ansiosos para
					receber
					sua candidatura e ajudá-lo a dar o próximo passo em sua carreira.
					Boa sorte na sua busca por oportunidades de emprego! </p>
			</div>
			<div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
				<img src="/assets/img/other/job.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
					width="700" height="500" loading="lazy">
			</div>
		</div>

		<div class="b-example-divider"></div>

		<div class="container" id="tb">
			<h2>Lista de Vagas</h2>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th id="tb">Vaga</th>
							<th id="tb">Descrição</th>
							<th id="tb">Anuciante</th>
							<th id="tb">Localização</th>
							<th id="tb">Prazo de Candidatura</th>
							<th id="tb">Candidatura</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td id="tb">Desenvolvedor Web</td>
							<td id="tb">Oportunidade para trabalhar com tecnologias web...</td>
							<td id="tb">Grupo Tech software</td>
							<td id="tb">São Paulo, SP</td>
							<td id="tb">31/12/2023</td>
							<td id="tb"><button class="btn btn-primary">Candidatar-se</button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>

	<div class="b-example-divider"></div>
	<div th:replace="default :: footer"></div>
</body>

</html>