<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="dark" xmlns:th="www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta property="og:locale" content="pt_BR">
	<meta property="og:description"
		content="Entre na residência em software da devHOME™ e aprenda Front-end, Back-end na prática com a maior plataforma de tecnologia do momento">
	<meta name="description"
		content="Entre na residência em software da devHOME™ e aprenda Front-end, Back-end na prática com a maior plataforma de tecnologia do momento">
	<meta property="og:title" content="devHOME™ | Residência em Software">
	<meta property="og:site_name" content="devHOME™">
	<meta property="og:url" content="https://www.devHOME.com.br">
	<link rel="canonical" href="https://www.devHOME.com.br">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>

	<link rel="stylesheet" href="/assets/css/adm.css">
	<link rel="shortcut icon" href="/assets/img/icon/icon-pink-1.png" type="image/x-icon" />

	<title> ADM - Lista de vagas | devHOME™ </title>
</head>

<body>
	<div th:replace="default :: navbar"></div>

	<main>
		<div class="contentor">
			<div class="setor-painel">
				<div class="menu-container" id="menu-container">
					<div class="logo-container">
						<img src="./assets/img/logo/logo-blue-6.png" alt="Logo do Site">
					</div>
					<a href="#" onclick="closeMenu()">Fechar</a>
					<a th:href="@{/empresas/novo}">Cadastrar Empresa</a>
					<a th:href="@{/empresas}">Listar Empresas</a>
					<a th:href="@{/cursos/novo}">Cadastrar Cursos</a>
					<a th:href="@{/cursos}">Listar Cursos</a>
					<a th:href="@{/vagas/novo}">Cadastrar Vagas</a>
					<a th:href="@{/vagas}">Listar Vagas</a>
					<a th:href="@{/adm.html}">Sair</a>
				</div>

				<div class="content" id="content">
					<div class="menu-btn-container">
						<div class="menu-btn" onclick="openMenu()">&#9776;</div>
					</div>
				</div>

				<div class="evento">
					<section class="table-contentor">
						<h2>Tabela vagas</h2>
						<table class="table">
							<thead>
								<tr>
									<th>ID</th>
									<th>Vaga</th>
									<th>Descrição</th>
									<th>Empresa</th>
									<th>Localização</th>
									<th>Prazo de Candidatura</th>
									<th>Opção</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="vaga : ${vagas}">
									<td th:text="${vaga.id}"></td>
									<td th:text="${vaga.nomeVaga}"></td>
									<td th:text="${vaga.descricao}"></td>
									<td th:text="${vaga.empresa.nomeEmpresa}"></td>
									<td th:text="${vaga.endereco}"></td>
									<td th:text="${vaga.prazoCandidatura}"></td>
									<td>
										<div class="btn-container">
											<a th:href="@{/vagas/editar/{id}(id=${vaga.id})}"
												class="btn btn-success">Editar</a>
											<a th:href="@{/vagas/deletar/{id}(id=${vaga.id})}"
												class="btn btn-danger">Excluir</a>
										</div>
									</td>
								</tr>
								</c:forEach>
							</tbody>
						</table>
						<p class="mt-5 mb-3 text-body-secondary">
							© 2023 - devHOME™
						</p>
					</section>
				</div>
			</div>
		</div>
	</main>
	
		<div class="b-example-divider"></div>
	<div th:replace="default :: footer"></div>
</body>

<script src="./assets/script/menu.js"></script>

</html>