<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="dark" xmlns:th="www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta property="og:locale" content="pt_BR">
	<meta property="og:description"
		content="Entre na residência em software da devHOME™ e aprenda Front-end, Back-end na prática com a maior plataforma de tecnologia do momento">
	<meta name="description"
		content="Entre na residência em software da devHOME™ e aprenda Front-end, Back-end na prática com a maior plataforma de tecnologia do momento">
	<meta property="og:title" content="devHOME™ | Residência em Software">
	<meta property="og:site_name" content="devHOME™">
	<meta property="og:url" content="https://www.devHOME.com.br">
	<link rel="canonical" href="https://www.devHOME.com.br">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>

	<link rel="stylesheet" href="/assets/css/menu.css">
	<link rel="stylesheet" href="/assets/css/modules.css">
	<link rel="shortcut icon" href="/assets/img/icon/icon-pink-1.png" type="image/x-icon" />

	<title> Módule-FullStack | devHOME™ </title>
</head>

<body>
	<div th:replace="default :: navbar"></div>

	<main>
		<div class="contentor">
			<div class="menu">
				<div class="menu-toggle active" id="mobile-menu">
					<span></span>
					<span></span>
					<span></span>
				</div>

				<nav class="sidebar">
					<ul>
						<li><a href="/assets/html/module-front.html"
								onclick="mudarModuloFullStack('front')">Front-end</a></li>
						<li><a href="/assets/html/module-back.html" onclick="mudarModuloFullStack('back')">Back-end</a>
						</li>
						<li><a href="/assets/html/modules.html">Menu</a></li>
					</ul>
				</nav>

				<div class="content">
					<h1 id="tituloModulo">Bem-vindo ao Mundo do Desenvolvimento Back-End!</h1>
					<p id="conteudoModulo">Estamos empolgados por você se juntar a nós nesta jornada pelo fascinante
						universo do desenvolvimento back-end. Ao longo deste curso, exploraremos os fundamentos,
						tecnologias e práticas que impulsionam o lado "invisível" da web, tornando possíveis as
						funcionalidades e interações complexas que os usuários adoram.</p>
					<div class="imagem"><img src="/assets/img/other/front-back.png" alt=""></div>
				</div>
			</div>
		</div>
	</main>

	<div class="b-example-divider"></div>
	<div th:replace="default :: footer"></div>
</body>

<script src="/assets/script/menu.js"></script>
<script src="/assets/script/storegeInput.js"></script>

</html>